[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-countries = "*"
psycopg2 = "*"
python-dotenv = "*"
django-money = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
celery = "*"
django-filter = "*"
drf-yasg = "*"
redis = "*"
django-celery-beat = "*"

[dev-packages]
black = "*"
isort = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
